[core]
	editor = nvim
  ignorecase = false
[push]
  default = simple
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = auto
[alias]
  ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
  pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
  st = status
  co = checkout
  cl = clone
  c = commit
  i = init
  a = add
[credential]
	helper = store
[github]
	name = thenelsonn
